extends layout

block content
	.container
		form(method="post", action="contacto/enviar")
			h1 Contacto
			.form-group
				label Nombre
				input.form-control(type="text", name="nombre", placeholder="Ingrese su Nombre")
			.form-group
				label Email
				input.form-control(type="email", name="email", placeholder="Ingrese su email")
			.form-group
				label Mensaje
				textarea.form-control(name="mensaje", placeholder="Ingrese su mensaje")
			button.btn.btn-default(type="submit") Enviar