doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=devide-width, initial-scale=1")
		title #{title}: Proyecto NODE JS - Express
		link(href="stylesheets/bootstrap337.min.css", rel="stylesheet")
		link(href="stylesheets/starter-template.css", rel="stylesheet")
		link(href="stylesheets/style.css", rel="stylesheet")
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Proyecto EXPRESS
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=(title === 'Inicio' ? 'active' : ''))
							a(href="/") Inicio
						li(class=(title === 'Nosotros' ? 'active' : ''))
							a(href="/nosotros") Nosotros
						li(class=(title === 'Contacto' ? 'active' : ''))
							a(href="/contacto") Contacto
		block content
		hr
		footer
			p(class="text-center") 2018 Proyecto 1
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
			script(src="javascripts/bootstrap.min.js")